:root {
  --black: #071420;
  --white: #ffffff;
  --gray: #edeef0;
  --blue: #18a0fb;
  --green: #1bc47d;
  --yellow: #f2bd00;
  --orange: #f97f0f;
  --red: #f24822;
  --purple: #4e4c99;
  --teal: #00b5ce;
  --pink: #ee46d3;
  --largePadding: 128px;
  --mediumPadding: 64px;
  --smallPadding: 32px;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
