.body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  height: 100%;
  color: var(--black);
  background-color: var(--white);
}

.hero {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(180deg, #4f4a9c 0%, #b86da5 100%);
  color: #fff;
  min-height: 100vh;
}
