.content {
  color: var(--black);
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
  width: 720px;
  padding: var(--largePadding) 0;
  text-align: center;
}

.content h2 {
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}

.desc {
  color: var(--black);
  text-align: center;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 12px auto var(--mediumPadding);
  opacity: 0.64;
  max-width: 480px;
}

.pills {
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 0;
}

.pills li {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
}

.pills li a {
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
  padding: 12px 24px;
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  background: var(--black);
  color: var(--white);
}

.icon {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  color: var(--white);
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 12px;
}

.plugin {
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  margin-top: 84px;
}

.plugin img {
  text-align: center;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 24px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}

.preview {
  color: var(--black);
  text-align: center;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 720px;
  max-height: 480px;
  margin: var(--mediumPadding) auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 24px 40px rgba(0, 0, 0, 0.24);
  border-radius: 40px;
  background: var(--white);
  overflow: hidden;
  opacity: 0.24;
  margin-bottom: 0;
}

.preview img {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
