.section {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--black);
  color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  color: var(--white);
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: var(--largePadding) 0;
  text-align: center;
  z-index: 2;
  position: relative;
  max-width: 960px;
  padding: var(--largePadding) 4px;
}

.title {
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}

.description {
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.desc {
  color: var(--white);
  text-align: center;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin: 12px auto var(--mediumPadding);
  opacity: 0.64;
  margin-bottom: 32px;
}

.button {
  text-align: center;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
  padding: 12px 24px;
  background: var(--purple);
  color: var(--white);
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
  -webkit-transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
  -moz-transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
  -ms-transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
  -o-transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);
}

.button:hover {
  transform: scale(1.05) rotate(0.5deg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.credits {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 600;
  margin-top: var(--smallPadding);
  margin-bottom: 0;
  color: var(--white);
  opacity: 0.4;
}

.footer {
  color: var(--white);
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: var(--mediumPadding) 0;
  z-index: 2;
  position: relative;
}

.inner {
  color: var(--white);
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  max-width: 960px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.breadcrumbs {
  color: var(--white);
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.breadcrumbs li {
  color: var(--white);
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

.breadcrumbs li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

.wizard {
  color: var(--white);
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 792px;
  position: absolute;
  bottom: -128px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
